<ion-view view-title="Eulerian Baby Monitor" name="login-view">

  <ion-content class="padding">
    <h4 class="title text-center">Please login into the system</h4>
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-outline button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>
