<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Methods:</h1>
    <p>
      GET /latest - gets the latest screenshot
    </p>
    <p>
      POST /upload - uploads a screenshot of the current status
    </p>
  </body>
</html>
